//colors
$dark-background: hsl(207, 26%, 17%);
$dark-color: hsl(209, 23%, 22%);
$light-color: hsl(0%, 0%, 100%);
$light-text-color: purple;
$dark-text-color: yellow;

// font-families
$font-family-one: "Nunito Sans", sans-serif;
$font-family-two: "Rubik", sans-serif;

// font-weights
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;

//font size
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-16: 16px;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
