<!-- header -->
<div class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <ul class="navbar-nav">
        <li
          class="nav-item ip-tracker"
          [ngClass]="modeStatus === true ? 'dark-nav-btn' : 'light-nav-btn'"
          *ngFor="let navItems of nav"
        >
          <a
            class="nav-link text-uppercase"
            [routerLink]="navItems.link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: navItems.exact }"
            matTooltip="All countries in the World"
            matTooltipHideDelay="100"
          >
            {{ navItems.name }}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-button-toggle
              [checked]="darkMode$ | async"
              (click)="onToggle()"
              matTooltip="Change the Appearance"
              matTooltipHideDelay="100"
              ><span class="material-icons">
                {{ modeStatus ? "light_mode" : "dark_mode" }}
              </span>

              {{ modeStatus ? "Light Mode" : modeName }}
            </mat-button-toggle>
          </button>

          <button
            mat-menu-item
            (click)="signOut()"
            matTooltip="Signout"
            matTooltipHideDelay="100"
            class="log-out"
          >
            <mat-icon>exit_to_app</mat-icon>
            {{ userName }}
          </button>
        </mat-menu>
      </ul>
    </div>
  </nav>
</div>
