<!-- header -->
<div class="header">
  <nav
    class="navbar navbar-expand-lg"
    [ngStyle]="
      modeStatus
        ? {
            'background-color': 'hsl(209, 23%, 22%)'
          }
        : {
            'background-color': 'hsl(0, 0%, 100%)'
          }
    "
  >
    <div
      class="container header-content"
      [ngClass]="modeStatus ? 'dark-nav-btn' : 'light-nav-btn'"
    >
      <button
        mat-button
        class="navbar-toggler d-lg-none shadow-none"
        type="button"
        data-toggle="collapse"
        (click)="isShown = !isShown"
      >
        <mat-icon class="toggle-icon">{{
          isShown ? "close" : "menu"
        }}</mat-icon>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{ show: isShown }">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" *ngFor="let navItems of nav">
            <a
              class="nav-link text-uppercase nav-links"
              [routerLink]="navItems.link"
              routerLinkActive="active"
              [routerLinkOptions]="{ match: ['/', '/all-countries'] }"
              matTooltip="All countries in the World"
              matTooltipHideDelay="100"
            >
              {{ navItems.name }}
            </a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link">
              <mat-button-toggle
                appearance="legacy"
                [checked]="darkMode$ | async"
                (click)="onToggle()"
                class="nav-btn shadow-none"
                matTooltip="Change the Appearance"
                matTooltipHideDelay="100"
                ><span class="material-icons">
                  {{ modeStatus ? "light_mode" : "dark_mode" }}
                </span>

                {{ modeStatus ? "Light Mode" : modeName }}
              </mat-button-toggle>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <button
                (click)="signOut()"
                mat-button
                type="button"
                matTooltip="Signout"
                matTooltipHideDelay="100"
                class="nav-btn"
              >
                <mat-icon>exit_to_app</mat-icon>
                {{ userName }}
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
