<!-- header -->
<div class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <ul class="nav nav-pills nav-fill me-auto">
        <li
          class="nav-item ip-tracker"
          [ngClass]="modeStatus === true ? 'dark-nav-btn' : 'light-nav-btn'"
        >
          <a
            class="nav-link"
            routerLink="/countries"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Where in the world?
          </a>
        </li>
        <li
          class="nav-item"
          [ngClass]="modeStatus === true ? 'dark-nav-btn' : 'light-nav-btn'"
        >
          <a
            class="nav-link"
            routerLink="/ip-address-tracker"
            routerLinkActive="active"
          >
            <!-- <mat-icon>location_on</mat-icon> -->
            GPS Tracker
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item" class="fw-bold">
          <a
            class="nav-link"
            [ngClass]="modeStatus === true ? 'dark-text' : 'light-text'"
          >
            <!-- <i class="material-icons-outlined">
              {{ modeStatus ? "dark_mode" : "light_mode" }}
            </i> -->
            {{ modeStatus ? modeName : "Light Mode" }}
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="darkMode$ | async"
              (change)="onToggle()"
            >
            </mat-slide-toggle>
          </a>
        </li>

        <li class="nav-item">
          <a
            mat-raised-button
            class="nav-link"
            class="logout-btn"
            (click)="signOut()"
            [ngClass]="
              modeStatus === true ? 'dark-btn-logout' : 'light-btn-logout'
            "
          >
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
