.header {
  font-family: "Nunito Sans", sans-serif;
  ul > li > a {
    font-weight: 700;
  }
  li {
    list-style-type: none;
    cursor: pointer;
  }
  li.dark-nav-btn {
    a.active {
      color: yellow;
      font-size: 18px;
      font-weight: 800;
    }
    a {
      color: hsl(0%, 0%, 100%);
    }
  }
  li.light-nav-btn {
    a.active {
      color: purple;
      font-size: 18px;
      font-weight: 800;
    }
    a {
      color: hsl(200, 15%, 8%);
    }
  }

  ul {
    a.dark-text {
      color: hsl(0%, 0%, 100%);
    }
    a.light-text {
      color: purple;
    }
  }

  ul.mx-auto {
    text-transform: uppercase;
  }
  .dark-btn-logout {
    color: hsl(0, 0%, 100%);
  }
  .light-btn-logout {
    color: hsl(200, 15%, 8%);
  }

  mat-slide-toggle.slide-toggle {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500 !important;
    font-style: italic;
    line-height: none !important;
  }
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(29, 135, 229, 0.2);
  }

  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: hsl(200, 15%, 8%);
  }
}
