.header {
  font-family: "Nunito Sans", sans-serif;
  ul > li > a {
    font-weight: 700;
  }
  li {
    list-style-type: none;
  }
  li.dark-nav-btn {
    a {
      color: hsl(0%, 0%, 100%);
    }
    a.active {
      background-color: hsl(0%, 0%, 100%);
      color: hsl(209, 23%, 22%);
    }
  }
  li.light-nav-btn {
    a {
      color: hsl(209, 23%, 22%);
    }
    a.active {
      background-color: purple;
      color: hsl(0%, 0%, 100%);
    }
  }

  ul {
    a.dark-text {
      color: hsl(0%, 0%, 100%);
    }
    a.light-text {
      color: purple;
    }
  }

  .logout-btn.dark-btn-logout {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
  }
  .logout-btn.light-btn-logout {
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
  }
}
