.header {
  font-family: "Nunito Sans", sans-serif;
  ul {
    .ip-tracker {
      font-weight: 700;
      cursor: pointer;
      button {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 800;
        mat-icon {
          height: 30px !important;
        }
      }
      .mat-raised-button.dark-nav-btn {
        color: hsl(0, 0%, 100%);
        background-color: hsl(209, 23%, 22%);
        border-color: hsl(0, 0%, 100%);
        box-shadow: 0px 0px 1px hsl(0, 0%, 100%);
      }
      .mat-raised-button.light-nav-btn {
        background-color: hsl(0, 0%, 100%);
        color: hsl(209, 23%, 22%);
        border-color: hsl(209, 23%, 22%);
        box-shadow: 0px 0px 1px hsl(209, 23%, 22%);
      }
    }
  }

  .toggle {
    display: none;
  }
  .toggle-label {
    position: relative;
    display: inline-block;
    width: 1.7rem;
    height: 1.3rem;
    overflow: hidden;
    .sun,
    .moon {
      position: absolute;
      left: 0;
      width: 100%;
      height: auto;
      transition: top 0.3s;
    }
  }
  .sun {
    top: 0;
  }
  .moon {
    top: -150%;
  }
  .toggle:checked + .toggle-label .sun {
    top: 150%;
  }
  .toggle:checked + .toggle-label .moon {
    top: 0;
  }
}
