h1 {
  color: hsl(209, 23%, 22%);
  font-weight: 700;
}

.mat-dialog-content {
  p {
    color: hsl(209, 23%, 22%);
    font-weight: 800;
  }
}

.mat-dialog-actions {
  button.close-btn {
    font-weight: 700;
  }
  button.yes-btn {
    font-weight: 700;
    color: hsl(0%, 0%, 100%);
    background-color: hsl(209, 23%, 22%);
  }
}
