@import "../../../styles/mixins";

.dialog {
  padding: 10px;
  .mat-dialog-content {
    p {
      color: $dark-color;
      font-weight: $fw-700;
    }
  }

  .mat-dialog-actions {
    button {
      font-weight: $fw-600;
      background-color: $light-text-color;
      color: $light-color;
      font-family: $font-family-one;
      font-size: $fs-12;
      height: 30px;
      line-height: 20px;
      min-height: 20px;
      vertical-align: top;
    }
    .mat-flat-button:focus,
    .mat-flat-button:hover {
      @include dark-mode;
      box-shadow: $box-shadow;
    }
  }
}
