<section class="main-content mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button
          [ngClass]="darkModeStatus == true ? 'dark-btn' : 'light-btn'"
          class="btn fs-6"
          type="button"
          mat-raised-button
          (click)="back()"
        >
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>
      </div>

      <!-- Displaying country Info  -->
      <div class="text-content col-md-12">
        <ng-container *ngFor="let content of countryInfo">
          <div *ngIf="content.length != 0">
            <div
              class="row p-5"
              [ngClass]="darkModeStatus == true ? 'dark-text' : 'light-text'"
            >
              <div class="col-md-4">
                <img
                  [src]="content.flag"
                  alt="{{ content.name }}"
                  class="img-fluid img-flag"
                />
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7 mt-3 fs-6">
                <h1 class="mat-display-6">{{ content.name }}</h1>
                <div class="row">
                  <div class="col-md-6">
                    <p>
                      <span class="fw-bold fs-5"> Native Name: </span>
                      <span>{{ content.nativeName }}</span>
                    </p>
                    <p>
                      <span class="fw-bold fs-5"> Population: </span>
                      <span>{{ content.population | comaSeperator }}</span>
                    </p>
                    <p>
                      <span class="fw-bold fs-5"> Region: </span>
                      <span>{{ content.region }}</span>
                    </p>
                    <p>
                      <span class="fw-bold fs-5">Sub Region: </span>
                      <span> {{ content.subregion }} </span>
                    </p>
                    <p>
                      <span class="fw-bold fs-5"> Capital: </span>
                      <span> {{ content.capital }} </span>
                    </p>
                  </div>
                  <div class="col-md-6 p-3">
                    <p>
                      <span class="fw-bold fs-5"> Top Level Domain: </span>
                      <span
                        *ngFor="
                          let domain of content.topLevelDomain;
                          let i = index
                        "
                      >
                        {{ domain }}
                        {{ i === content.topLevelDomain.length - 1 ? "" : "," }}
                      </span>
                    </p>
                    <p>
                      <span class="fw-bold fs-5">Currencies:</span>
                      <span
                        *ngFor="
                          let currency of content.currencies;
                          let i = index
                        "
                      >
                        {{ currency.name }}
                        {{ i === content.currencies.length - 1 ? "" : "," }}
                      </span>
                    </p>
                    <p>
                      <span class="fw-bold fs-5">Languages:</span>
                      <span
                        *ngFor="let lang of content.languages; let i = index"
                      >
                        {{ lang.name }}
                        {{ i === content.languages.length - 1 ? "" : "," }}
                      </span>
                    </p>
                  </div>
                </div>

                <div class="border-list" *ngIf="content.borders.length != 0">
                  <p class="fs-5 fw-bold">Border Countries:</p>
                  <span class="" *ngFor="let border of content.borders">
                    <button
                      mat-raised-button
                      class="border-btn me-3"
                      *ngIf="border.length > 0"
                      [ngClass]="
                        darkModeStatus == true ? 'dark-btn' : 'light-btn'
                      "
                    >
                      {{ border }}
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
