.country-content {
  mat-icon {
    font-size: 22px;
    padding-right: 2rem;
  }
  .text-content {
    .gps-btn {
      font-weight: 800;
      font-size: 13px;
      mat-icon {
        padding-right: 0px !important;
        font-size: 18px;
      }
    }
    .img-flag {
      object-fit: cover;
      height: 300px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
    }
  }

  .dark-mode {
    color: hsl(0, 0%, 100%);

    button {
      color: hsl(0, 0%, 100%);
      background-color: hsl(209, 23%, 22%);
    }
  }
  .light-mode {
    color: purple;

    button {
      background-color: purple;
      color: hsl(0, 0%, 100%);
    }
  }
}
