@import "../countries-list/countries-list.component.scss";

.main-content {
  mat-icon {
    font-size: 22px;
    padding-right: 2rem;
  }
  button.light-btn {
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 100%);
  }

  button.dark-btn {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
  }

  .text-content {
    .dark-text {
      color: hsl(0, 0%, 100%) !important;
    }
    .light-text {
      color: hsl(209, 15%, 8%);
    }
    .img-flag {
      object-fit: cover;
      height: 300px;
    }
    .border-list {
      button.dark-btn {
        color: hsl(0, 0%, 100%);
        background-color: hsl(209, 23%, 22%);
      }
      button.light-btn {
        background-color: hsl(0, 0%, 100%);
        color: hsl(209, 23%, 22%);
      }
      .border-btn {
        color: hsl(0, 0%, 100%);
        background-color: hsl(209, 23%, 22%);
      }
    }
  }
}
