<!-- header  -->
<app-header></app-header>

<!-- country information  -->
<section class="main-content mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button
          [ngClass]="darkModeStatus ? 'dark-btn' : 'light-btn'"
          class="btn fs-6"
          type="button"
          mat-raised-button
          (click)="back()"
          matTooltip="Go back to where you left off"
          matTooltipHideDelay="100"
        >
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>
      </div>

      <!-- Displaying country Info  -->
      <div class="text-content col-md-12">
        <ng-container *ngFor="let content of countryInfo">
          <div *ngIf="content.length !== 0">
            <div
              class="p-5"
              [ngClass]="darkModeStatus ? 'dark-text' : 'light-text'"
            >
              <div class="col-md-12">
                <img
                  [src]="content.flag"
                  alt="{{ content.name }}"
                  class="img-fluid mx-auto d-block img-flag"
                />
              </div>
              <div class="col-md-12 mt-5 fs-6">
                <h1 class="mat-display-6 text-center">{{ content.name }}</h1>
                <button
                  mat-flat-button
                  *ngIf="content?.latlng"
                  class="mx-auto d-block gps-btn"
                  (click)="getLocation(content.latlng)"
                  matTooltip="Click here to get location of {{
                    content.name
                  }} in the map"
                  matTooltipHideDelay="100"
                >
                  GPS
                  <mat-icon> location_on</mat-icon>
                </button>
                <div class="row pr-5 pl-5 pt-5 pb-3">
                  <div class="col-md-6">
                    <p *ngIf="content?.nativeName !== ''">
                      <span class="fw-bold fs-5"> Native Name: </span>
                      <span>{{ content.nativeName }}</span>
                    </p>
                    <p *ngIf="content?.population !== ''">
                      <span class="fw-bold fs-5"> Population: </span>
                      <span>{{ content.population | comaSeperator }}</span>
                    </p>
                    <p *ngIf="content?.region !== ''">
                      <span class="fw-bold fs-5"> Region: </span>
                      <span>{{ content.region }}</span>
                    </p>
                    <p *ngIf="content?.subregion !== ''">
                      <span class="fw-bold fs-5">Sub Region: </span>
                      <span> {{ content.subregion }} </span>
                    </p>
                    <p *ngIf="content?.capital !== ''">
                      <span class="fw-bold fs-5"> Capital: </span>
                      <span> {{ content.capital }} </span>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="content?.topLevelDomain.length > 0">
                      <span class="fw-bold fs-5"> Top Level Domain: </span>
                      <span
                        *ngFor="
                          let domain of content.topLevelDomain;
                          let i = index
                        "
                      >
                        {{ domain }}
                        {{ i === content.topLevelDomain.length - 1 ? "" : "," }}
                      </span>
                    </p>
                    <p *ngIf="content?.currencies.length > 0">
                      <span class="fw-bold fs-5">Currencies:</span>
                      <span
                        *ngFor="
                          let currency of content.currencies;
                          let i = index
                        "
                      >
                        {{ currency.name }}
                        {{ i === content.currencies.length - 1 ? "" : "," }}
                      </span>
                    </p>
                    <p *ngIf="content?.languages.length > 0">
                      <span class="fw-bold fs-5">Languages:</span>
                      <span
                        *ngFor="let lang of content.languages; let i = index"
                      >
                        {{ lang.name }}
                        {{ i === content.languages.length - 1 ? "" : "," }}
                      </span>
                    </p>
                  </div>
                </div>

                <div
                  class="border-list col-md-12 text-center"
                  *ngIf="content.borders.length > 0"
                >
                  <p class="fs-5 fw-bold">Border Countries:</p>
                  <span class="">
                    <button
                      type="button"
                      *ngFor="let border of content.borders"
                      mat-raised-button
                      class="border-btn me-3 mb-4"
                      (click)="borderCountry($event)"
                      [ngClass]="darkModeStatus ? 'dark-btn' : 'light-btn'"
                      matTooltip="Click here to Know more about this country"
                      matTooltipHideDelay="100"
                    >
                      {{ border }}
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!--Loading-spinner -->
<app-spinner></app-spinner>
