@import "../../styles/mixins";

.login-form {
  font-family: $font-family-one;
  .container-fluid {
    .right-sidebar {
      color: $dark-color;
      display: flex;
      justify-content: center;
      height: 100vh;
      align-items: center;
      max-width: 100%;
      background-color: $light-color;
      h2 {
        font-weight: $fw-700;
        font-size: 26px;
      }
      input::placeholder {
        color: $dark-color;
        font-size: $fs-12;
        font-weight: $fw-600;
        font-family: $font-family-one;
      }
      .input-group {
        button {
          cursor: pointer;
          @include dark-mode;
          line-height: 0 !important;
        }
      }

      button.mat-button {
        @include light-mode;
        font-size: $fs-12;
        font-weight: $fw-700;
        font-family: $font-family-one;
        height: 30px;
        line-height: 20px;
        min-height: 20px;
        vertical-align: top;
      }

      button.mat-raised-button {
        @include dark-mode;
        font-size: $fs-12;
        font-family: $font-family-one;
        height: 30px;
        line-height: 20px;
        min-height: 20px;
        vertical-align: top;
      }
    }
    .left-sidebar {
      display: flex;
      justify-content: center;
      height: 100vh;
      align-items: center;
      max-width: 100%;
      background-color: $dark-color;
    }
  }
}

span.help-block {
  font-size: $fs-12;
  color: red;
}

.modal {
  font-weight: $fw-700;
  color: $light-text-color;
  font-family: $font-family-one;
  input::placeholder {
    color: $dark-color;
    font-size: $fs-13;
    font-weight: $fw-700;
  }
  .modal-footer {
    button {
      font-size: $fs-12;
      font-weight: $fw-600;
    }
    button.reset-btn {
      background-color: hsl(209, 23%, 22%);
      color: hsl(0%, 0%, 100%);
    }
  }
}
