h1,
h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.login-form {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;

  span.help-block {
    font-size: smaller;
    color: red;
  }
}

.container {
  max-width: 700px;
  width: 100%;
  margin: auto;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
