.login-form {
  .container-fluid {
    .right-sidebar {
      color: hsl(209, 23%, 22%);
      display: flex;
      justify-content: center;
      height: 100vh;
      align-items: center;
      max-width: 100%;
      background-color: hsl(0%, 0%, 98%);
      h2 {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 700;
        font-size: 26px;
      }
      input::placeholder {
        font-family: "Nunito Sans", sans-serif;
        color: hsl(209, 23%, 22%);
        font-size: 12px;
        font-weight: 600;
      }
      .input-group {
        span {
          cursor: pointer;
          background-color: hsl(209, 23%, 22%);
          color: hsl(0%, 0%, 100%);
          line-height: 0 !important;
        }
      }
      button.btn,
      a.mat-button {
        font-family: "Nunito Sans", sans-serif;
        font-size: 12px;
        font-weight: 700;
      }
      a.mat-button {
        color: hsl(209, 23%, 22%);
      }
      button {
        background-color: hsl(209, 23%, 22%);
      }
    }
    .left-sidebar {
      display: flex;
      justify-content: center;
      height: 100vh;
      align-items: center;
      max-width: 100%;
      background-color: hsl(209, 23%, 22%);
    }
  }
}

span.help-block {
  font-size: smaller;
  color: red;
}

.modal {
  font-family: "Nunito Sans", sans-serif;
  input::placeholder {
    font-family: "Nunito Sans", sans-serif;
    color: hsl(209, 23%, 22%);
    font-size: 13px;
    font-weight: 700;
  }
  h2,
  h6 {
    font-weight: 700;
    color: hsl(209, 23%, 22%);
  }
  .modal-footer {
    button {
      font-family: "Nunito Sans", sans-serif;
      font-size: 12px;
      font-weight: 600;
    }
    button.reset-btn {
      background-color: hsl(209, 23%, 22%);
      color: hsl(0%, 0%, 100%);
    }
  }
}
