@import "../../styles/mixins";

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  background-color: $light-color;

  p.mat-display-1 {
    font-weight: $fw-700;
    color: $dark-color;
    font-family: $font-family-one;
  }
  h4,
  p.mat-body-strong {
    font-weight: $fw-500;
    color: $light-text-color;
    font-family: $font-family-two;
  }
  button {
    @include dark-mode;
    font-family: $font-family-two;
    font-size: $fs-14;
  }
}
