<section class="main-content mt-4">
  <form [formGroup]="countryListForm" class="row g-3">
    <div class="col-md-6">
      <div class="input-field">
        <div class="form-group has-search">
          <span
            class="material-icons-outlined form-control-feedback"
            [ngClass]="darkModeStatus == true ? 'dark-icon' : 'light-icon'"
          >
            search
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Search for a country..."
            formControlName="country"
            (input)="search($event.target.value)"
            [ngClass]="darkModeStatus == true ? 'dark-input' : 'light-input'"
          />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <select
        class="form-select"
        formControlName="filterOptions"
        (change)="searchFilter($event)"
        [ngClass]="darkModeStatus == true ? 'dark-select' : 'light-select'"
      >
        <option [value]="items" *ngFor="let items of searchFilterOptions">
          Search by {{ items }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <select
        class="form-select"
        formControlName="region"
        (change)="regionsList($event)"
        [ngClass]="darkModeStatus == true ? 'dark-select' : 'light-select'"
      >
        <option value="" selected disabled>Filter by Region</option>
        <option value="{{ region }}" *ngFor="let region of newRegArr">
          {{ region }}
        </option>
      </select>
    </div>
  </form>

  <!-- Displaying cards  -->
  <div class="row">
    <div class="card-content mt-4">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <ng-container
          *ngFor="
            let data of listOfCountries
              | filter: searchedData
              | paginate: { itemsPerPage: 4, currentPage: page };
            let i = index
          "
        >
          <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="42%">
            <mat-card
              class="mat-elevation-z4"
              [ngClass]="darkModeStatus == true ? 'dark-card' : 'light-card'"
            >
              <img
                mat-card-image
                [src]="data.flag"
                alt="{{ data.name }}"
                class="country-flag"
              />
              <mat-card-content align="start">
                <p class="card-text">
                  <span class="card-labels"> Population</span>
                  <span>
                    {{ data.population | comaSeperator }}
                  </span>
                </p>
                <p class="card-text">
                  <span class="card-labels"> Region </span>
                  <span>
                    {{ data.region }}
                  </span>
                </p>
                <p class="card-text">
                  <span class="card-labels"> Capital</span>
                  <span>
                    {{ data.capital }}
                  </span>
                </p>
              </mat-card-content>
              <mat-card-actions align="end">
                <button
                  mat-raised-button
                  [routerLink]="['/country']"
                  [queryParams]="{ name: data.name }"
                >
                  {{ data.name }}
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- pagination  -->
  <div class="row mt-3">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <pagination-controls
        class="float-end"
        [ngClass]="darkModeStatus == true ? 'dark-page' : 'light-page'"
        (pageChange)="page = $event"
      ></pagination-controls>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

<!-- spinner while loading screen  -->
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
