.main-content {
  font-family: "Nunito Sans", sans-serif;

  input {
    box-shadow: none !important;
  }

  span.clear_btn {
    cursor: pointer;
    border: none !important;
  }

  .input-group-text.light-clear-btn {
    color: hsl(200, 15%, 8%);
  }

  span.dark-icon {
    color: hsl(0, 0%, 100%) !important;
    background-color: hsl(209, 23%, 22%) !important;
    border: none !important;
  }
  span.light-icon {
    color: #aaa !important;
  }

  input.dark-input {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
    border: none !important;
  }
  input.dark-input::placeholder {
    color: hsl(0, 0%, 100%);
  }
  input.light-input {
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
  }
  input.light-input::placeholder {
    color: hsl(200, 15%, 8%) !important;
  }

  select.dark-select {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 1px hsl(0, 0%, 100%);
  }

  select.light-select {
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
    border-color: hsl(200, 15%, 8%);
    box-shadow: 0 0 1px hsl(200, 15%, 8%);
  }
  select {
    border: none !important;
    border-radius: 2px;
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }

  .card-content {
    img.country-flag {
      object-fit: cover;
      height: 190px;
    }
    li {
      border: 0px none !important;
      border-radius: 0px !important;
    }
    h5 {
      margin-bottom: 0px !important;
      font-weight: 700;
    }
    .dark-title {
      color: yellow;
    }
    .light-title {
      color: purple;
    }

    .dark-list {
      background-color: hsl(209, 23%, 22%);
      color: hsl(0, 0%, 100%);
    }
    .light-list {
      color: purple;
      background-color: hsl(0, 0%, 100%);
    }

    .card.dark-card {
      background-color: hsl(209, 23%, 22%);
      color: hsl(0, 0%, 100%);
      a {
        color: hsl(0, 0%, 100%) !important;
      }
    }

    .card.light-mode {
      color: hsl(200, 15%, 8%);
      background-color: hsl(0, 0%, 100%);
      a {
        color: hsl(200, 15%, 8%);
      }
    }
  }
}
ngx-spinner {
  h4,
  p {
    font-family: "Nunito Sans", sans-serif;
    color: hsl(0, 0%, 100%);
  }
}
