<app-header></app-header>

<div class="main-content mt-3">
  <div
    class="container"
    [ngClass]="darkModeStatus ? 'dark-theme' : 'light-theme'"
  >
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="countryListForm" class="row g-3">
          <ng-container *ngIf="!hidesearchFilters">
            <div class="col-md-4 media-queries">
              <div class="input-group">
                <span class="input-group-text material-icons-outlined">
                  search
                </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search for a country..."
                  formControlName="country"
                  (input)="search($event.target.value)"
                />
                <button
                  type="button"
                  class="input-group-text clear_btn"
                  matTooltip="Clear all"
                  matTooltipHideDelay="100"
                  [disabled]="!countryListForm.get('country').value"
                  (click)="countryListForm.get('country').reset()"
                >
                  <span class="material-icons-outlined"> clear_all </span>
                </button>
              </div>
            </div>
            <div class="col-md-3 media-queries">
              <select
                class="form-select"
                formControlName="filterOptions"
                (change)="searchFilter()"
              >
                <option
                  [value]="items"
                  *ngFor="let items of searchFilterOptions"
                >
                  Search by {{ items }}
                </option>
              </select>
            </div>
          </ng-container>

          <div class="col-md-3 media-queries">
            <select
              class="form-select"
              formControlName="countries"
              (change)="countrySelected($event)"
            >
              <option value="allcountries">All Countries</option>
              <option
                [value]="country.name"
                *ngFor="let country of allCountriesList"
              >
                {{ country.name }}
              </option>
            </select>
          </div>
          <div class="col-md-2 media-queries">
            <select
              class="form-select"
              formControlName="region"
              (change)="regionsList($event)"
            >
              <option value="allregions">All Regions</option>
              <option value="{{ region }}" *ngFor="let region of newRegArr">
                {{ region }}
              </option>
            </select>
          </div>
        </form>
      </div>
    </div>

    <!-- Displaying Country cards  -->
    <div class="card-content mt-3">
      <div class="row">
        <ng-container
          *ngIf="listOfCountries | filter: searchedData as countriesList"
        >
          <div
            class="col-md-3 mb-3 card-info"
            *ngFor="
              let data of countriesList
                | paginate: { itemsPerPage: 4, currentPage: page }
            "
          >
            <div class="card country-card">
              <img
                [src]="data.flag"
                alt="{{ data.name }}"
                class="country-flag card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">{{ data.name }}</h5>
              </div>
              <ul class="list-group">
                <li class="list-group-item" *ngIf="data?.population !== ''">
                  <b> Population : </b> {{ data.population | comaSeperator }}
                </li>
                <li class="list-group-item" *ngIf="data?.region !== ''">
                  <b> Region : </b>
                  {{ data.region }}
                </li>
                <li class="list-group-item" *ngIf="data?.capital !== ''">
                  <b> Capital : </b>
                  {{ data.capital }}
                </li>
              </ul>
              <div class="card-footer">
                <a
                  type="button"
                  mat-stroked-button
                  matTooltip="Click here to know more about {{ data.name }}"
                  matTooltipHideDelay="100"
                  (click)="moreDeatils(data.name)"
                >
                  More
                  <span class="material-icons-outlined"> read_more </span>
                </a>
              </div>
            </div>
          </div>
          <p *ngIf="countriesList.length === 0" class="no-result-text">
            No Results Found For
            <span> "{{ srchDataValue }}" </span>
          </p>
        </ng-container>
      </div>
    </div>

    <!-- pagination  -->
    <div class="row">
      <div class="col-md-12">
        <pagination-controls
          class="float-end"
          [ngClass]="darkModeStatus ? 'dark-page' : 'light-page'"
          (pageChange)="page = $event"
          maxSize="6"
          directionLinks="true"
          autoHide="true"
          responsive="true"
          previousLabel="Previous Page"
          nextLabel="Next Page"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="{{ page }}"
          screenReaderCurrentLabel="You're on {{ page }}"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- Loading-spinner  -->
<app-spinner></app-spinner>
