@import "../../styles/mediaQueries";

.main-content {
  input {
    box-shadow: none !important;
  }

  select {
    border: none !important;
    margin: 0px auto;
    font-weight: 600;
    box-shadow: none !important;
    border-radius: 4px;
  }

  .card-content {
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: 0px;
    }
    img.country-flag {
      object-fit: cover;
      height: 190px;
    }
    li {
      border: 0px none !important;
    }
    h5 {
      margin-bottom: 0px !important;
      font-weight: 700;
    }

    .list-group {
      font-size: 13px;
      font-weight: 600;
      li {
        b {
          text-transform: capitalize;
          font-size: 14px;
          font-weight: 800 !important;
        }
      }
    }

    .card-footer {
      .mat-stroked-button {
        font-size: 13px;
        border: none !important;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    .no-result-text {
      font-weight: 600;
      font-style: italic !important;
      span {
        font-weight: 800;
      }
    }
  }

  // dark-mode
  .dark-theme {
    color: hsl(0, 0%, 100%);
    input {
      background-color: hsl(209, 23%, 22%);
      color: hsl(0, 0%, 100%);
      &::placeholder {
        color: hsl(0, 0%, 100%);
        font-weight: 600;
      }
    }
    span.input-group-text,
    button.input-group-text {
      color: hsl(0, 0%, 100%) !important;
      background-color: hsl(209, 23%, 22%) !important;
    }
    select {
      background-color: hsl(209, 23%, 22%);
      color: hsl(0, 0%, 100%);
      border: 1px solid hsl(0, 0%, 100%) !important;
    }
    .card {
      background-color: hsl(209, 23%, 22%);
      .card-title {
        color: yellow;
      }
      li {
        background-color: hsl(209, 23%, 22%);
        color: hsl(0, 0%, 100%);
      }
      .card-footer {
        a.mat-stroked-button {
          color: white !important;
        }
      }
    }
  }

  // light-mode
  .light-theme {
    color: purple;
    input {
      background-color: hsl(0, 0%, 100%);
      &::placeholder {
        color: purple;
        font-weight: 600;
      }
    }
    select {
      background-color: hsl(0, 0%, 100%);
      border: 1px solid #aaa !important;
    }

    .card {
      background-color: hsl(0, 0%, 100%);
      .card-title {
        color: purple;
      }
      li {
        color: purple;
        background-color: hsl(0, 0%, 100%);
      }
      .card-footer {
        a.mat-stroked-button {
          color: purple;
        }
      }
    }
  }
}
