/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@import "~material-icons/iconfont/material-icons.css";

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}

body.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
  nav {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
  }
}

body.light-mode {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
  nav {
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
  }
  a.navbar-brand {
    color: hsl(200, 15%, 8%);
  }
}

pagination-controls.dark-page {
  .ngx-pagination a,
  .ngx-pagination button {
    color: hsl(0, 0%, 100%) !important;
    background-color: hsl(209, 23%, 22%);
  }
}
pagination-controls.light-page {
  .ngx-pagination a,
  .ngx-pagination button {
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 100%);
  }
}

