/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@import "~material-icons/iconfont/material-icons.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/leaflet/dist/leaflet";
@import "./app/styles/variables";

html,
body {
  height: 100%;
}

body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}

body.dark-mode {
  background-color: $dark-background;
}

body.light-mode {
  background-color: $light-color;
}

pagination-controls.dark-page {
  .ngx-pagination a,
  .ngx-pagination button {
    color: $light-color !important;
    background-color: $dark-color;
  }
}

pagination-controls.light-page {
  .ngx-pagination a,
  .ngx-pagination button {
    color: $dark-color;
    background-color: $light-color;
  }
}

.bdrop {
  backdrop-filter: blur(4px);
  cursor: not-allowed;
}

ngx-spinner {
  p {
    font-weight: $fw-600;
    color: $light-color;
    font-family: $font-family-one;
  }
}
