@import "../header/header.component";
@import "../../styles/mixins";

.ip-address-tracker {
  h2 {
    font-size: $fs-16;
    text-align: center;
    font-weight: $fw-700;
    letter-spacing: 2px;
  }
  input::placeholder {
    font-family: $font-family-two;
    font-size: $fs-13;
    font-weight: $fw-500;
  }
  button {
    cursor: pointer;
    span {
      line-height: 1.5 !important;
    }
  }
  .card {
    border: none !important;
    border-radius: 0px !important;
    ul > li {
      font-family: $font-family-two;
      font-weight: $fw-700;
      text-transform: uppercase;
      font-size: $fs-12;
      letter-spacing: 3px;
      list-style-type: none;
    }
    span {
      font-weight: $fw-600 !important;
      text-transform: capitalize !important;
    }
  }
}

.light-ip-tracker {
  background-color: $light-text-color;
  color: $light-color;
  input {
    @include light-mode;
    &::placeholder {
      color: $dark-color;
    }
  }
  button {
    @include dark-mode;
    border-left: 2px solid $dark-color;
  }
  .card {
    background-color: $light-color;
    ul > li {
      color: $dark-color;
    }
    span {
      color: $light-text-color;
    }
  }
  #map {
    .coordinate {
      color: $dark-color;
    }
  }
}
.dark-ip-tracker {
  @include dark-mode;
  input {
    @include dark-mode;
    &::placeholder {
      color: $light-color;
    }
  }
  button {
    background-color: $dark-color !important;
    color: $light-color !important;
    border: 1px solid $light-color;
  }
  .card {
    background-color: $dark-color;
    ul > li {
      color: $light-color;
    }
    span {
      color: $dark-text-color;
    }
  }
  #map {
    .coordinate {
      color: $light-color;
    }
  }
}

#map {
  height: 67vh;
  margin: 0 auto;
  .coordinate {
    float: right !important;
    font-weight: $fw-400;
    font-size: $fs-11;
    font-family: $font-family-two;
    bottom: 10px;
  }
}
