<!-- header  -->
<app-header></app-header>
<!-- Map-content -->
<div class="container-fluid">
  <div class="row">
    <div class="ip-address-search">
      <div class="row content">
        <h2 mat-title>IP Address Tracker</h2>
        <form [formGroup]="mapForm">
          <div class="input-group rounded-circle">
            <input
              type="text"
              class="form-control"
              formControlName="ipaddress"
            />
            <span class="input-group-text" (click)="searchAddress()">
              <img src="../../../assets/ip-address/icon-arrow.svg" />
            </span>
          </div>
        </form>
      </div>
    </div>
    <div id="map _leaflet_id"></div>
  </div>
</div>
