<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="ip-address-search">
      <div class="row content">
        <h2 mat-title>IP Address Tracker</h2>
        <div class="input-group rounded-circle">
          <input type="text" class="form-control" />
          <span class="input-group-text">
            <img src="../../../assets/ip-address/icon-arrow.svg" />
          </span>
        </div>
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>
