@import "../header/header.component";

.ip-address-search {
  background-image: url("../../../assets/ip-address/pattern-bg.png") !important;
  height: 20vh;
  width: 100%;
  margin: 0 auto;

  .content {
    h2 {
      font-family: "Nunito Sans", sans-serif;
      text-align: center;
      color: hsl(0%, 0%, 100%) !important;
      font-size: 16px;
      font-weight: 800;
    }
  }
  input::placeholder {
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: hsl(209, 23%, 22%);
  }
  input {
    border: none !important;
    border-radius: 7px;
  }
  .input-group {
    .input-group-text {
      background-color: hsl(209, 23%, 22%);
      cursor: pointer;
      border: none !important;
      border-radius: 10px;
    }
  }
}

.card {
  height: 20vh;
  width: 100%;
  border: none !important;
  border-radius: 0px !important;
  ul > li {
    // font-family: "Nunito Sans", sans-serif;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    list-style-type: none;
  }
  span {
    font-weight: 500 !important;
    text-transform: capitalize !important;
  }
}
.card.bg-dark {
  ul > li {
    color: yellow;
  }
  span {
    color: hsl(0%, 0%, 100%);
  }
}
.card.bg-light {
  ul > li {
    color: hsl(209, 23%, 22%);
  }
  span {
    color: purple;
  }
}

#map {
  height: 70vh;
  margin: 0 auto;
  .coordinate {
    position: absolute;
    float: right !important;
    color: hsl(209, 23%, 22%);
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    height: 32vh !important;
  }
}
